<!-- Loop over each object in the post array -->
<div class="row" id="sortable"></div>
    {{#each posts as |post|}}        
        <div class="row my-2 m-sm-1" id="sortable"></div>
          <div>
            <div id="card-title">
              <div class="card-sub"> <img class="card-img-top img-fluid d-flex justify-content-between" id="user-prof-pic" src="./images/Josh Lutz_DC.jpg" alt="Profile Image">
            </div>
              <div class="card-block">
                <div class="card-header">                
                  <a style="text-decoration:none" href="/comments/{{post.id}}"><h4 class="employee-name">{{post.title}}</h4></a>                  
                  <div class="employee-details">
                    <div class="user-name">Created by {{post.user.username}} on {{format_date post.date_created}}</div>            
                    <div class="post">{{post.post_content}}</div>
                  </div>
                </div>
                  {{#if comments}} 
                    {{#each comments}}              
                      <div class="comment-details">                    
                        <div class="post">&nbsp;&#10095;&nbsp;&nbsp;{{comment}}</div>
                      </div>
                    {{/each}}
                  {{/if}}
                </div>
              </div>
            </div>
          </div>        
            
        </div>
    {{/each}}
</div>