<div id="profile-header">
    <h2>Welcome, {{username}}!</h2>
    <a class="btn btn-secondary" href="/post" id="new-post-btn">+ New Post</a>
</div>
   
           
        
{{#if posts.length}}
    </div>

    {{#each posts as |post|}}
        <div class="row" id="sortable"></div>
          <div id="sortable">
            <div id="card-title">
              <div class="card-sub"> <img class="card-img-top img-fluid d-flex justify-content-between" id="user-prof-pic" src="./images/Josh Lutz_DC.jpg" alt="Profile Image">
              <a href="/posts/{{post.id}}" class="btn btn-light d-flex justify-content-between" id="edit-post-btn">Edit</a>
            </div>
              <div class="card-block">
                <div class="card-header">                
                  <h4 class="employee-name">{{post.title}}</h4>
                  <div class="employee-details">
                    <div class="user-name">Created by {{user.username}} on {{format_date post.date_created}}</div>            
                    <div class="post">{{post.post_content}}</div>
                  </div>
                </div>
                  {{#if comments}} 
                    {{#each comments}}              
                      <div class="comment-details">                    
                        <div class="post">&nbsp;&#10095;&nbsp;&nbsp;{{comment}}</div>
                        <div class="comment-post">
                          <span class="comment-info">{{user.username}}</span>
                          <span class="comment-info">{{format_date comment_date}}</span>
                        </div>
                      </div>
                    {{/each}}
                  {{/if}}
              </div>
            </div>
          </div>        
            
        </div>
    {{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">Start Posting!</h6>

{{/if}}