<div class="row">
  <div class="col-auto">
    <h2>Comment on this post, {{username}}. 
      <span style="color:transparent" id="user-id-hidden">{{id}}</span>
      <span style="color:transparent" id="post-id-hidden">{{post_id}}</span>
    </h2>
  </div>
</div>

        <div class="row" id="sortable"></div>
          <div id="sortable">
            <div id="card-title">
              <div class="card-sub"> <img class="card-img-top img-fluid d-flex justify-content-between" id="user-prof-pic" src="./images/Josh Lutz_DC.jpg" alt="Profile Image">              
            </div>
              <div class="card-block">
                <div class="card-header">                
                  <h4 class="employee-name">{{title}}</h4>
                  <div class="employee-details">
                    <div class="user-name">Created by {{user.username}} on {{format_date date_created}}</div>            
                    <div class="post">{{post_content}}</div>
                  </div>
                </div>
                  {{#if comments}} 
                    {{#each comments}}              
                    {{!-- <div class="card-header">  --}}
                      {{!-- <h4 class="employee-name">{{post.title}}</h4> --}}
                      <div class="comment-details">                    
                        <div class="post">&nbsp;&#10095;&nbsp;&nbsp;{{comment}}</div>
                      </div>
                    {{!-- </div> --}}
                    {{/each}}
                  {{/if}}
                      <div class="comment-details">                    
                        <div class="comment">
                          &nbsp;&#10095;&nbsp;&nbsp;
                          <textarea class="form-control" name="comment-text" id="comment-input" rows="1">Comment on this post, {{username}}</textarea>
                          <a href="/comments/{{post_id}}" class="btn btn-secondary btn-sm d-flex justify-content-between" id="comment-post-btn">&#10010;</a>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>       
        </div>



<script src="/js/commentPost.js"></script>
